<section class="page">
    <div class="page-header">
        <p class="page-title">8<sup>th</sup> Standard</p>
    </div>
    <div class="page-body">
        <!-- <div class="box f-30">
            <p class="box-title">Your name</p>
            <p class="box-body">Date</p>
        </div> -->
        <div class="box f-100">
            <p class="box-title">Enroll Users</p>
            <div class="box-body">
                <app-enroll></app-enroll>
            </div>
        </div>
    </div>
</section>