<section class="page">
    <div class="page-header">
        <div class="page-title">Attendance</div>
    </div>
    <div class="page-body">
        <div class="box">
            <div class="box-title">
                <p>Attendance Summery <span class="small-title">40 Students</span> </p>
            </div>
            <div class="box-body"></div>
        </div>
        <div class="box">
            <p>Hindi</p>
        </div>
        <div class="box">
            <p>8th Standard</p>
        </div>
        <div class="f-100">
            <mat-divider></mat-divider>
        </div>
        <div class="box f-50">
            <div class="box-title"><i class="bi bi-arrow-down-right"></i> &nbsp; Less Attendance Students</div>
            <div class="box-body">
                <mat-list class="less-att-list">
                    <mat-list-item *ngFor="let student of Students">
                        <i class="bi list-icon bi-person-exclamation" matListItemIcon></i>
                        <div matListItemTitle class="less-att-list">{{student.Name}}  &nbsp;&nbsp;&nbsp;&nbsp; #{{student.UserName}}</div>
                        <!-- <div matListItemLine class="less-att-list">#{{student.roll}}</div> -->
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
        <div class="box f-30">
            <div class="box-title">
            Faculty Attendance
            </div>
            <div class="box-body">
                <!-- 18/21 -->
            </div>
        </div>
    </div>
</section>