.page{
    padding: 1rem;
    width: 80%;
}

.page-header{
    padding: 0 1rem;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.page-header span{
    font-size: 1rem;
    font-weight: 400;
    color: #979797;
}
.page-body{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.box{
    padding: 1rem 1.5rem;
    width: fit-content;
    border-radius: 1.1rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    min-height: 8rem;
}

.box-title{
    font-size: 1.2rem;
    font-weight: 600;
}

.time{
    flex-grow: 1;
}

.mat-mdc-header-row{
    background-color: rgb(75, 75, 172);
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
}

.mat-mdc-row{
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.1s ease-out;
}
.mat-mdc-row:hover{
    color: rgba(0, 0, 0, 1);
    background-color:rgba(0, 0, 0, 0.3);
    cursor:alias;
}

.mat-column-Subject,.mat-column-Date{
    font-weight: 500;
}

th,td{
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins',sans-serif;
}

