<section class="page">
    <div class="page-body">
        <div class="box-title f-30">All Subjects</div>
        <div class="f-30"></div>
        <div class="f-30">
            <mat-select name="standard" [value]="'123'">
                <mat-option>Select Class</mat-option>
                <mat-option *ngFor="let class of Standards" [value]="class.id">{{class.name}}<sup>th</sup>
                    Standard</mat-option>
            </mat-select>
        </div>
        <div class="box f-100">
            <mat-accordion>
                <ng-container *ngFor="let subject of Subjects">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="bi bi-journals"></i> &nbsp; {{subject.Name}}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{subject.faculty.name}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="edit-container">
                            <mat-form-field class="select" appearance="outline">
                                <mat-label>Select Teacher</mat-label>
                                <mat-select formControlName="FacultyId">
                                    <mat-option [value]="subject.faculty.id">{{subject.faculty.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button class="primery-btn" (click)="save(subject)">Save</button>
                        </div>
                    </mat-expansion-panel>
                    <!-- <mat-divider></mat-divider> -->
                </ng-container>
            </mat-accordion>
        </div>
    </div>
</section>