.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

i.action {
  scale: 1.3;
}

.edit-container{
    padding-left: 2rem;
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: baseline;
    gap: 1rem;
}

.select{
    width: 100%;
}

.mat-expansion-panel-body {
    padding: 0 32px 0;
}

.mat-expansion-panel-header[aria-disabled=true] {
    color: black
}